<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="History" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Progress" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="calendar" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="videos" tabIcon="information-circle"></ion-tab>
</ion-tabs>
